/* Add any CSS necessary for your custom content */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300italic,400,200,200italic,300,600,400italic,600italic,700italic,700,900');

html body {
	background: url("/logos/images/bg_pic_v2.jpg") no-repeat center bottom fixed;	
	background-size: cover;
	font-family: "Titillium Web",Arial,Helvetica,Verdana,sans-serif !important;
}

.container {
	background: white;
	padding-right: 40px;
	padding-left: 40px;
}

#content.container {
	background: white;
	padding-bottom: 20px;
}

img.navbar-brand.custom-logo {
	width: 188px;
	height: 64px;
}

#navbarFixed .navbar-brand.custom-logo {
	padding: 15px 0;
}

.nav {
	padding-top: 15px;
}

.navbar-default {
	background: transparent;
	border: none;
	box-shadow: none;
}

#dataverseHeader {
	background: white !important;
}

#dataverse-header-block {
	padding-top: 90px;
	height: 130px;
}

#dataverseHeader .dataverseHeaderName {
	padding: 1em 1em 0em 0em;
}

#search-row-panel.row {
	padding: 20px 0;
	border: none;
}


div.panel-heading.text-info[data-toggle="collapse"] {
	color: #04725d;
}

table[id$='resultsTable'] td > div.datasetResult {
	border-color: #04725d;
}

.control-label,
th {
	color: #04725d;
}

a {
	color: #04725d;
}

a.dataverseHeaderDataverseName,
a.facetLink,
.ui-widget-content a {
	color: #04725d !important;
}

a:hover,
a.facetLink:hover,
.ui-widget-content a:hover {
	color: #06a385;
}

.ui-button.btn-link, 
.ui-button.btn-link.active, 
.ui-button.btn-link:active, 
.ui-button.btn-link[disabled], 
fieldset[disabled] .ui-button.btn-link {
	color: #04725d;
}

.highlightBold, 
a.highlightBold, 
.dropdown-menu > li > a.highlightBold {
	color: #04725d;
}

.btn-link {
	color: #04725d;
}

.btn-link:focus, 
.btn-link:hover {
	color: #06a385;
}

.pagination > li > a, 
.pagination > li > span {
	color: #04725d;
}

.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover {
	background-color: #04725d;
	border-color: #04725d;
}

#footer .container {
	background: transparent;
}









